<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <%- include('layouts/toolbar'); -%>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <%- include('layouts/navbar'); -%>
    <!-- Navbar End -->

    <div
      class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn"
      data-wow-delay="0.1s"
      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn"
    >
      <div class="container text-center">
        <h1 class="display-4 text-white slideInDown mb-4">Your Appointments</h1>
      </div>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        class="col-lg-8 col-md-8 wow fadeInUp"
        data-wow-delay="0.1s"
        style="
          visibility: visible;
          animation-delay: 0.1s;
          animation-name: fadeInUp;
        "
      >
        <div
          class="courses-item d-flex flex-row bg-light overflow-hidden h-100"
        >
          <% if(appointment !== null){ %>
          <div class="text-center p-4">
            <h5 class="mb-3">Date</h5>
            <p><%= appointment.date.toISOString().split('T', 1)[0] %></p>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-3">Time</h5>
            <p><%= appointment.time %></p>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-3">Test Type</h5>
            <p><%= user.testType %></p>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-3">Examiner</h5>
            <p><%= user.examinerAlloted %></p>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-3">Result</h5>
            <% if(user.testResult !== null && user.testResult){ %>
            <p
              class="text-uppercase <%= user.testResult === 'Pass' ? 'text-success' : 'text-danger' %>"
            >
              <%= user.testResult %>
            </p>
            <% }else{ %>

            <p>Pending</p>
            <%} %>
          </div>
          <% if( user.comment !== "" && user.comment){ %>
          <div class="text-center p-4">
            <h5 class="mb-3">Comment</h5>
            <p><%= user.comment %></p>
          </div>
          <%} %> <% }else{%>
          <h5 class="mb-3">No Appointments</h5>
          <% }%>
        </div>
      </div>
    </div>
    <!-- Footer Start -->
    <%- include('layouts/footer'); -%>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <%- include('layouts/copyright'); -%>

    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <%- include('layouts/scripts'); -%>
  </body>
</html>
