<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <%- include('layouts/toolbar'); -%>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <%- include('layouts/navbar'); -%>
    <!-- Navbar End -->

    <div
      class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn"
      data-wow-delay="0.1s"
      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn"
    >
      <div class="container text-center">
        <h1 class="display-4 text-white slideInDown mb-4">
          Booked Appointments
        </h1>
      </div>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        class="col-lg-5 col-md-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="
          visibility: visible;
          animation-delay: 0.1s;
          animation-name: fadeInUp;
        "
      >
        <div id="filtered" class="container mb-5">
          <div class="col-12">
            <div class="row justify-content-xl-end justify-content-center">
              <div
                class="col-auto text-center text-xl-end d-flex align-items-center justify-content-xl-end justify-content-center"
              >
                Filter by:
              </div>
              <div class="col-auto text-center text-xl-end">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <input
                  onclick="window.location='/examiners/showBookedAppointment/G2#filtered';"
                  type="radio" class="btn-check" name="filterType" value="G2"
                  id="byG2" autocomplete="off" <%= filteredBy == "G2" ?
                  'checked' : '' %>>
                  <label class="btn btn-outline-primary" for="byG2">G2</label>
                  <input
                  onclick="window.location='/examiners/showBookedAppointment/G#filtered';"
                  type="radio" class="btn-check" name="filterType" value="G"
                  id="byG" autocomplete="off" <%= filteredBy == "G" ? 'checked'
                  : '' %>>
                  <label class="btn btn-outline-primary" for="byG">G</label>
                  <input onclick="window.location='/showBookedAppointment';"
                  type="radio" class="btn-check" name="filterType" id="byNone"
                  autocomplete="off" <%= filteredBy ? '' : 'checked' %>>
                  <label class="btn btn-outline-primary" for="byNone"
                    >All</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if(user !== null && user.length !== 0){ for(var i= 0; i <
        user.length;i++){ if(!user[i].examinerAlloted){%>
        <form action="/addExaminer" method="post">
          <div
            class="courses-item d-flex flex-row bg-light overflow-hidden mb-4"
          >
            <div class="text-center p-4">
              <h5 class="mb-3">Name</h5>
              <p><%= user[i].firstName %> <%= user[i].lastName %></p>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-3">Car Details</h5>
              <p>
                Make: <%= user[i].carDetails.make %> <%=
                user[i].carDetails.model %>
              </p>
              <p>Plate No: <%= user[i].carDetails.plateNumber %></p>
            </div>

            <% for(var j= 0; j < bookedAppointment.length;j++){
            if(bookedAppointment[j]._id.equals(user[i].appointmentId) ){ %>
            <div class="text-center p-4">
              <input
                name="appointmentId"
                value="<%=bookedAppointment[j]._id%>"
                hidden
              />
              <h5 class="mb-3">Date</h5>
              <p>
                <%= bookedAppointment[j].date.toISOString().split('T', 1)[0] %>
              </p>
            </div>
            <%} }%>
            <div class="text-center p-4">
              <button class="btn btn-primary w-100 py-3" type="submit">
                Confirm
              </button>
            </div>
          </div>
        </form>
        <%}}}else{%>
        <h1 class="mb-4">No Appointments to Show</h1>
        <% }%>
      </div>
    </div>

    <!-- Footer Start -->
    <%- include('layouts/footer'); -%>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <%- include('layouts/copyright'); -%>

    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <%- include('layouts/scripts'); -%>
  </body>
</html>
